p {
  text-align: left;
}

h3 {
  text-align: left;
}

.signup-input {
  height: 40px;
  position: relative;
  top: 2px;
}

.branding {
  /*TODO: Find a branding FONT*/
  color: #ffffff;
}

.branding-dark {
  color: #0c0c0c;
}

.header-main {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

.subheader {
  text-align: left;
}

.emphasis {
  color: #5bbf98;
}

.text-lightish {
  color: #cdcdcd;
}

.background {
  background-color: #ffffff;
}

.alt-background {
  background-color: #ebfbee;
}

.wine-background {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./Assets/images/wine_background.png");
}

.vineyard-background {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./Assets/images/vineyard_background.png");
}

.bottles-background {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 240px;
  padding-bottom: 80px;
  background-image: url("./Assets/images/wine_bottles.png");
}

.inventory-background {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 240px;
  padding-bottom: 80px;
  background-image: url("./Assets/images/inventory.png");
}

.rfid-background {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 240px;
  padding-bottom: 80px;
  background-image: url("./Assets/images/rfidbottles.png");
}

.standard-link {
  color: #049b65;
  font-weight: bold;
}

.standard-link:hover {
  color: #04734b;
  font-weight: bold;
  cursor: pointer;
}

.circle-button {
  margin: 6px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: #0c0c0c;
  background-color: #ffffff;
  color: #0c0c0c;
}

.circle-button:hover {
  background-color: #04734b;
  color: #ffffff;
}

.standard-button {
  background-color: #049b65;
  border-color: #049b65;
  color: #ffffff;
  border-radius: 3px;
}

.standard-button:hover {
  background-color: #04734b;
  border-color: #049b65;
}

.input-button {
  height: 40px;
}

polygon {
  z-index: 100;
  stroke-width: 1;
  stroke: #ebfbee;
  fill: #ebfbee;
  pointer-events: visible;
}

polygon:hover {
  z-index: 100;
  fill: #049b65;
}

.wine-red {
  fill: #770d88;
}

.wine-white {
  fill: #e2faab;
}

.wine-fortified {
  fill: #951f03;
}

.wine-champagne {
  fill: #fcffc3;
}

.wine-group {
  background-color: #ebfbee;
}

.wine-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.wine-group > .row > .col {
  display: inline-block;
}
